header{
    width: 100%;
    border-bottom: 1px solid rgb(83, 83, 83);
    
}
.header-wrap{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
}
.logo{
    width: 150px;
    height: 100px;
}
.logo a{
    font-family: 'Flavors', cursive;
    font-size: 4.5em;
    color: rgb(23, 16, 107);
}
.navigation{
    display: flex;
    align-items: center;
    
}
.lnb{
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 120px;
}
.lnb a{
    font-size: 18px;
}
.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.login a{
    font-size: 15px;
}
.ham-navigation{
    display: none;
}